*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.traffic-light {
    background: black;
    width: 100px;
    padding: 20px;
    border-radius: 20px;
  }
  

.light{
width: 60px;
height: 60px;
border-radius: 50%;
background-color: gray;
margin: 15px auto;
}

.red.on{
    background-color: red;
}

.yellow.on{
    background-color: yellow;
}

.green.on{
    background-color: green;
}